{% extends 'base.html' %}

{% block content_title %}
    <h3>Grafik {{ yearschedule.name }}   {{ yearschedule.year }} rok </h3>
{% endblock %}

{% block content %}
    <table class="table-border">
        <thead>
        <tr>
            <th>
                <div>A</div>
            </th>
            <th>
                <div>B</div>
            </th>
            <th>
{#                <div>&nbsp;</div>#}
                <div>C</div>
            </th>
            {% for day in days %}
                {% if day|date:"w" == "6" %}
                    <th class="sunday"><span class="vertical-data">{{ day|date:'Y-m-d' }}</span></th>
                {% else %}
                    <th>
                        <div class="vertical-data">{{ day|date:'Y-m-d' }}</div>
                    </th>
                    {#           <th>0</th>#}
                {% endif %}
            {% endfor %}

        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td align="center">Nazwisko i imię</td>
            <td></td>
            {% for day in days %}
                {% if day|date:"w" == "6" %}
                    <td class="sunday" align="center">{{ forloop.counter }}</td>
                    {#            {% if day|date:'Y-m-d' == "2020-02-01" %}#}
                    {#                <td align="center">{{ day|date:"w" }}</td>#}
                    {#                <td align="center">{{1}}</td>#}
                {% else %}
                    <td align="center">{{ forloop.counter }}</td>
                {% endif %}
            {% endfor %}

        </tr>

        {% for employee, schedules_by_days in schedules_by_staff.items %}

            <tr>

                <th>{{ forloop.counter }}.</th>

                <td>
                    <div class="second-column">
                        {{ employee.last_name }}
                    </div>
                </td>

                <td>Za</td>

                {% for day, schedule in schedules_by_days.items %}
                    <td align="center">
                        {{ schedule.plan_day }}
                    </td>
                {% endfor %}

            </tr>

            <tr>
                <td></td>
                <td>{{ employee.first_name }}</td>
                <td>Zr</td>
                {% for day, schedule in schedules_by_days.items %}
                    <td align="center">
                        {{ schedule.done_day }}
                    </td>
                {% endfor %}
            </tr>

        {% endfor %}


        </tbody>

    </table>
    <br><br>


{% endblock %}

{% block additional %}
 <form method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" value="{{ submit_value|default:"Dodaj" }}">
    <br><br>
    </form>
{% endblock additional %}