{% extends 'base.html' %}

{% block content_title %}
    <h2>Lista grafików</h2>
{% endblock %}

{% block content %}
    <ul>
    {% for object in object_list%}
        <li><a href='/yearschedule/{{ object.pk }}'>{{object.name}} </a>
            <a href='/fill_yearschedule/{{ object.pk }}'>Wypełnij </a>
        <a href='/edit_yearschedule/{{ object.pk }}'>Edytuj </a>
        <a href='/delete_yearschedule/{{ object.pk }}'>Kasuj </a></li>
    {%  endfor %}
    </ul>
{% endblock %}
{% block additional %}
    <br>
    <li><a href='/add_yearschedule/'>Dodaj grafik dla jednostki</a></li>
    <br><br>
{% endblock additional %}