{% extends 'base.html' %}


{% block content_title %}
    <h2>Lista jednostek organizacyjnych</h2>
{% endblock %}

{% block content %}
    <ul>
    {% for object in object_list%}
        <li><a href='/unit/{{ object.pk }}'>{{object.name}}</a>
        <a href='/edit_unit/{{ object.pk }}'>Edytuj</a>
        <a href='/delete_unit/{{ object.pk }}'>Kasuj</a></li>
    {%  endfor %}
    </ul>
{% endblock %}
{% block additional %}
    <br>
    <li><a href='/add_unit/'>Dodaj jednostkę organizacyjną</a></li>
    <br><br>
{% endblock additional %}