{%  extends 'base.html' %}

{% block content_title %}
    <h1> {{ title|default:"Formularz" }}</h1>
{% endblock %}

{% block content %}
{% endblock %}

{% block login %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ submit_value|default:"Wyślij" }}">
    </form>
   {% if user.is_authenticated %}
       Witaj {{ user }} - <a href="/logout/">Wyloguj</a>
   {% else %}
       Witaj nieznajomy :) - <a href="/login/">Zaloguj</a>
   {% endif %}
{% endblock %}